body {
   font-family: Arial;
   padding-top: 120px;
   
}

/*---------------------------------------------footer--------------------------------------------------*/

footer {
   background-color: #f47742;
   color: black ;
   margin-top: 3%;
}

.center
{
   text-align: center;
}

.inline-block
{
    display: inline-block;
}

.social-links
{
    padding-bottom: 15px;
}

.social-links li a i
{
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover
{
    background: #e84610;
}

.list-inline
{
   display: inline-block;
}

/*---------------------------------------------footer--------------------------------------------------*/

.bold
{
   font-weight: bold;
   font-size: large;
   margin-bottom: 3%;
   margin-top: 3%;
}

.form-quanity
{
    padding-right: 0px;
    padding-left: 0px;
    margin-top: 1%;
}

.form
{
    padding-right: 0px;
    padding-left: 0px;
}

.img-border
{
    border:1px solid #021a40;
}

.remove-padding
{
    padding-left: 0px;
    padding-right: 0px;
}

/*---------------------------------------------navigation----------------------------------------------*/

.navbar-inverse
{
    background-color: #f47742;
    border-color: #f47742;
}


.navbar-inverse .navbar-nav>li>a {
    color: black;
}

.navbar-inverse .navbar-nav>li>a:hover
{
    background-color: black;
    border-radius: 25px;
}

.navbar-inverse .navbar-nav>li>a:hover .badge
{
    background-color: red;
}

.badge
{
    background-color: black;
}

.push-down-searchbar
{
   margin-top: 3%;
   padding-left: 120px;
   
}

.navbar>.container-fluid .navbar-brand {
     margin-left: 0px; 
}

.navbar-right
{
   margin-right: 0px;
}


@media (max-width: 767px)
{
   .img-resize
   {
      max-width: 50%;
      height: auto;
   }
}

/*img[Attributes Style] */
/*   {*/
/*       width: 100px;*/
/*       height: 80px;*/
/*   }*/

