body {
   font-family: Arial;
   padding-top: 120px;
   background-color: grey;
}

footer {
   margin-top: 40px;
   padding-top: 40px;
   padding-bottom: 40px;
   border-top: 1px solid #ededed ;
   color: #A9A9A9 ;
}

.bold
{
   font-weight: bold;
   font-size: large;
   /*margin-bottom: 3%;*/
   margin-top: 3%;
}

.fixed-height
{
   height: 50px;
}

.push-down-searchbar
{
   margin-top: 5%;
}

