{% extends "base.html" %}
{% block content %}
<div class = "row">
    {% for card in cards %}
        <div class = "col-xs-12 col-sm-6 col-md-4 col-lg-4">
            <div class = "card_item">
                <div class = "col-sm-12">
                    {{ card.name }}
                </div>
                <div class = "col-sm-12">
                    <img height="200" width="200" src="{{ MEDIA_URL }}{{ card.image }}">
                </div>
                <div class = "col-sm-12">
                    {{ card.price }}
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}