{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ECommerce</title>
    <link rel = "stylesheet" href =  "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="{% static 'font-awesome-4.7.0/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src = "https://code.jquery.com/jquery.min.js"></script>
    <script src = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {% block head_js %}
    {% endblock head_js %}
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url "index" %}"><img src="/media/images/logo.png" class="img-resize" width="100px" height="80px" alt="logo"></a>
            </div>
            <div class="navbar-collapse collapse">
                <div class="nav navbar-nav navbar-right">
                    <li class="top-nav">
                        <form class="push-down-searchbar" action="{% url "search" %}" method="get">
                            <input type="text" name="q">
                            <button type="submit" class="btn btn-success">Search</button>
                        </form>
                    </li>
                    {% if user.is_authenticated %}
                        <li class="top-nav"><a href="{% url 'profile' %}"><i class="fa fa-user"></i> Profile</a></li>
                        <li class="top-nav"><a href="{% url 'logout' %}"><i class="fa fa-sign-out"></i> Log Out</a></li>
                    {%  else %}
                        <li class="top-nav"><a href="{% url 'register' %}"><i class="fa fa-user-plus"></i> Register</a></li>
                        <li class="top-nav"><a href="{% url 'login' %}"><i class="fa fa-sign-in"></i> Log In</a></li>
                    {% endif %}
                    <li class="top-nav">
                        <a href="{% url 'view_cart' %}">
                            <i class="fa fa-shopping-cart"></i> Cart 
                            {% if card_count > 0 %}
                            <label class="badge badge-warning">{{ card_count }}</label>
                            {% endif %}
                        </a>
                    </li>
                    
                    <br>
                    
                    <div class="nav navbar-nav navbar-right">
                        <li class="bottom-nav"><a href="#">Browse All</a></li>
                        {% for category, subcategories in root_categories.items %}
                        <li class="dropdown bottom-nav">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ category.name }}<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url 'occasion' category.id %}" class="dropdown-header">All {{ category.name }} Cards</a></li>
                                {% for sub in subcategories %}
                                <li><a href="{% url 'category' sub.id %}">{{ sub.name }}</a></li>
                                {% endfor%}
                            </ul>
                        </li>
                        {% endfor %}
                        <li class="bottom-nav"><a href="#">Contact</a></li>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        {% block content %} {% endblock %}
    </div>
    <footer class="container-fluid">
        <div class="foorter-details row">
            <div class="col-sm-6 col-sm-offset-3 center">
                <h4>About</h4>
                <p class = "inline-block">Hello my name is declan. This is the about section. Hello my name is declan. This is the about section. Hello my name is declan. This is the about section. Hello my name is declan. This is the about section. Hello my name is declan. This is the about section. Hello my name is declan. This is the about section.</p>
            </div>
            <div class="col-sm-6 col-sm-offset-3 center">
                <ul class = "list-inline social-links">
                    <li>
                        <a target = "_blank" href = "#"><i class = "fa fa-facebook"></i></a>
                        <a target = "_blank" href = "#"><i class = "fa fa-twitter"></i></a>
                        <a target = "_blank" href = "#"><i class = "fa fa-linkedin"></i></a>
                        <a target = "_blank" href = "#"><i class = "fa fa-pinterest"></i></a>
                        <a target = "_blank" href = "#"><i class = "fa fa-instagram"></i></a>
                        <a target = "_blank" href = "#"><i class = "fa fa-youtube"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
</body>
</html>