{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ECommerce</title>
    <link rel = "stylesheet" href =  "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="{% static 'font-awesome-4.7.0/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src = "https://code.jquery.com/jquery.min.js"></script>
    <script src = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {% block head_js %}
    {% endblock head_js %}
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url "index" %}"><img src="/media/images/logo.png" width="100px" height="80px" alt="logo"></a>
            </div>
            <div class="navbar-collapse collapse">
                <div class="nav navbar-nav navbar-right">
                    <li>
                        <form class="push-down-searchbar" action="{% url "search" %}" method="get">
                            <input type="text" name="q">
                            <button type="submit">Search</button>
                        </form>
                    </li>
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'profile' %}"><i class="fa fa-user"></i> Profile</a></li>
                        <li><a href="{% url 'logout' %}"><i class="fa fa-sign-out"></i> Log Out</a></li>
                    {%  else %}
                        <li><a href="{% url 'register' %}"><i class="fa fa-user-plus"></i> Register</a></li>
                        <li><a href="{% url 'login' %}"><i class="fa fa-sign-in"></i> Log In</a></li>
                    {% endif %}
                    <li>
                        <a href="{% url 'view_cart' %}">
                            <i class="fa fa-shopping-cart"></i> Cart 
                            {% if card_count > 0 %}
                            <label class="badge badge-warning">{{ card_count }}</label>
                            {% endif %}
                        </a>
                    </li>
                    
                    <br>
                    
                    <div class="nav navbar-nav navbar-right">
                        <li class="active"><a href="#">Browse All</a></li>
                        {% for category, subcategories in root_categories.items %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ category.name }}<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-header"><a href="{% url 'occasion' category.id %}">{{ category.name }}</a></li>
                                {% for sub in subcategories %}
                                <li><a href="{% url 'category' sub.id %}">{{ sub.name }}</a></li>
                                {% endfor%}
                            </ul>
                        </li>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <div class="container">
        {% block content %} {% endblock %}
    </div>
    <footer>
        <div class="container-fluid">
            <div class="row">
                {% for category, subcategories in root_categories.items %}
                <div class="col-md-3">
                    <div class="card card-primary">
                        <div class="card-header">
                            {{ category.name }}
                        </div>
                    </div>
                    <ul class="list-unstyled">
                        {% for sub in subcategories %}
                            <li><a href="{% url 'category' sub.id %}">{{ sub.name }}</a></li>
                        {% endfor%}
                    </ul>
                </div>
                {% endfor %}
            </div>
            <p>Made by Code Institute bootcampers</p>
        </div>
    </footer>
</body>
</html>