{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Full Screen Landing Page</title>
    <link rel="stylesheet" href="{% static 'css/style2.css' %}">
</head>
<body>
    <section class="intro">
        <div class="inner">
            <div class="content">
                <h1>Cards4u</h1>
                <p>Cards4u is an online service that allows people to send funny and unique cards via email that you wont find in the shops,
                to your loved ones and friends for a fraction of the price in the shops</p>
                <a class="btn" href="{% url 'register' %}">Sign Up</a>
                <a class="btn" href="{% url 'all_cards' %}">View Site</a>
            </div>
        </div>
    </section>
</body>
</html>